.button{    
    display: flex;
    justify-content: center;
    position: fixed; 
    right: 0.5rem;
    top: 14rem;
    background: #fa7921;
    padding: 30px 30px 1px 5px;
    border-radius: 50px 10px 10px 50px;
    color: white;
    font-size: 10px;
    cursor: pointer;
    gap: 0.5rem;

}

.button-pedir{
   margin-top: -1.6rem;
}

.button-total{
    margin-top: -1.3rem;
}
