.container-header{
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}


.header {
    padding-top: 1rem;
    max-width: 95%;
    background: #fa7921;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #f9f9f9;
  }
  
